<div class="content-container" *ngIf="modulos">
    <main class="content-area">
        <div class="clr-row">
            <div class="clr-col-12">
                <h1>{{modulos[numModulo].momentos[momentoActual].secciones[numSeccion].titulo}}</h1>
                <div [innerHTML]="modulos[numModulo].momentos[momentoActual].secciones[numSeccion].contenido | sanitizeHtml: 'html'"></div>
            </div>
        </div>
    </main>
    <nav class="sidenav" [clr-nav-level]="2" *ngIf="modulos[numModulo].momentos.length > 1">
        <section class="sidenav-content">
            <section class="nav-group" *ngFor="let momento of modulos[numModulo].momentos; index as i; first as inicial">
                <input id="tabexample{{i}}" type="checkbox">
                <label for="tabexample{{i}}"> <!--[ngClass]="{'active': momentoActual==i}"-->
                    {{momento.titulo}}
                    <clr-icon shape="caret right" *ngIf="momentoActual==i"></clr-icon>
                </label>
                <ul class="nav-list">
                    <li *ngFor="let seccion of momento.secciones; index as e; first as inicial">
                        <a class="nav-link" [routerLink]="['/m1']" [queryParams]="{modulo: numModulo, mom: i, sec: e}" [ngClass]="{'active': numSeccion==e && momentoActual==i}">
                            {{seccion.titulo}}
                        </a>
                    </li>
                </ul>
            </section>
        </section>
    </nav>
</div>
