<div class="content-container">
    <main class="content-area" *ngIf="modulos[intro]">
        <mdtk-titulo-heroico [titulo]="modulos[intro].momentos[momentoActual].titulo" [nombreCurso]="elementos.branding.nombreCurso"></mdtk-titulo-heroico>
        <div class="clr-row">
            <div class="clr-col-lg-1">{{posCol | json}}</div>
            <div class="clr-col-lg-10 clr-col-12">
                <div class="clr-row">
                    <mdtk-inserta-html [saltoCol]="saltoCol" [bloques]="modulos[intro].momentos[momentoActual].secciones[seccionActual].componentes"></mdtk-inserta-html>
                </div><!-- /.clr-row -->
                <div class="clr-row">
                    <div class="clr-col-lg-4 clr-col-md-6 clr-col-12" *ngFor="let modulo of modulos | slice:1; index as i; first as inicial">
                        <a class="card clickable" [routerLink]="['/m1']" [queryParams]="{modulo: i+1}">
                            <div class="card-header">
                                {{modulo.titulo}}
                            </div><!-- /.card-header -->
                            <div class="card-block">
                                <div class="card-text">
                                    {{modulo.intro}}
                                </div><!-- /.card-text -->
                            </div><!-- /.card-block -->
                        </a><!-- /.card -->
                    </div><!-- /.clr-col-lg-4 -->
                </div><!-- /.clr-row -->
            </div><!-- /.clr-col-lg-10 -->
            <div class="clr-col-lg-1"></div>
        </div>
    </main>
    <nav class="sidenav" [clr-nav-level]="2" *ngIf="numMomentos > 1">
        <section class="sidenav-content">
            <section class="nav-group" *ngFor="let momento of momentos; index as i; first as inicial">
                <input id="tab{{i}}" type="checkbox">
                <label for="tab{{i}}">
                    {{momento.titulo}}
                </label>
                <ul class="nav-list">
                    <li *ngFor="let seccion of momento.secciones; index as e; first as inicial">
                        <a class="nav-link" [routerLink]="['/m1']" [queryParams]="{modulo: intro, mom: i, sec: e}">
                            {{seccion.titulo}}
                        </a>
                    </li>
                </ul>
            </section>
        </section>
    </nav>
</div>
