<div class="main-container">
    <header class="header" [ngClass]="'header-'+branding?.colorPrimario">
        <div class="branding">
            <a href="http://bascafe.org/index.html" target="_blank" class="nav-link">
                <div class="logo"></div>
                <span class="title">
                    {{branding?.tituloCorto}}
                </span>
            </a>
        </div>
        <div class="header-nav">
            <span *ngFor="let modulo of modulos; index as i; first as inicial">
                <a [routerLink]="['/m1']" [queryParams]="{modulo: i}" class="nav-link nav-text" *ngIf="i!=numModulo && !inicial">
                    {{modulo}}
                </a>
                <a [routerLink]="['/']" class="nav-link nav-text" *ngIf="i!=numModulo && inicial && componente!='/'">
                    {{modulo}}
                </a>
                <span class="active nav-link nav-text" *ngIf="i==numModulo || (inicial && componente=='/')">
                    {{modulo}}
                </span>
            </span>
        </div>
    </header>
    <router-outlet></router-outlet>
</div>