<div class="main-container">
    <header class="header header-4">
        <div class="branding">
            <a href="http://bascafe.org/index.html" target="_blank" class="nav-link">
                <div class="logo"></div>
                <span class="title">BASC</span>
            </a>
        </div>
        <div class="header-nav">
            <span class="active nav-link nav-text">Introducción</span>
            <a routerLink="/heroes" class="nav-link nav-text">Antes de iniciar</a>
            <a routerLink="/heroes" class="nav-link nav-text">Alistemos herramientas</a>
            <a routerLink="/heroes" class="nav-link nav-text">Demostremos habilidades</a>
            <a routerLink="/heroes" class="nav-link nav-text">Evaluemos</a>
        </div>
    </header>
    <router-outlet></router-outlet>
</div>