<div class="card destacado">
    <div class="card-block">
        <div class="card-media-block">
            <img src="../assets/personajes/m-senala.svg" class="card-media-image" *ngIf="contenido.posicionCabeza=='izquierda'">
            <div class="card-media-description">
                <h2 class="card-media-title">{{contenido.titulo}}</h2>
            </div>
            <img src="../assets/personajes/m-senala.svg" class="card-media-image" *ngIf="contenido.posicionCabeza=='derecha'">
        </div>
        <div class="card-text" [innerHTML]="contenido.texto | sanitizeHtml: 'html'"></div>
    </div>
</div>
