// @import
@import url('https://fonts.googleapis.com/css?family=Lato|Montserrat'); 
// Variables
$clr-font: 'Montserrat', sans-serif;
$clr-altFont: 'Lato', sans-serif;
.main-container {
    clr-header {
        font-family: $clr-altFont;
        text-transform: uppercase;
        .branding {
            .logo {
                width: 1.5rem;
                height: 1.5rem;
                background-image: url(./assets/logoBASC.svg);
                background-repeat: no-repeat;
                background-size: contain;
                margin: 0 0.4rem;
            }
        }
        .header-nav {
            .nav-link.active {
                /* border-bottom: solid 0.5rem #fff; */
            }
        }
    }
}
