// @import
@import url('https://fonts.googleapis.com/css?family=Lato|Montserrat'); 
// Variables
$clr-font: 'Montserrat', sans-serif;
$clr-altFont: 'Lato', sans-serif;
$color-primario-claro: #D0ACE4;
$color-primario-oscuro: #4D007A;
$color-secundario-claro: #AC75C6;
$color-secundario-oscuro: #8939AD;
$color-neutro-claro: #C1CDD4;
$color-neutro-oscuro: #61717D;
$blanco: #fff;
$negro: #000;
.main-container {
    clr-header {
        font-family: $clr-altFont;
        text-transform: uppercase;
        position: fixed;
        top: 0;
        width: 100%;
        .branding {
            .logo {
                width: 1.5rem;
                height: 1.5rem;
                background-image: url(./assets/logoBASC.svg);
                background-repeat: no-repeat;
                background-size: contain;
                margin: 0 0.4rem;
            }
        }
        .header-nav {
            .nav-link.active {
                /* border-bottom: solid 0.5rem #fff; */
            }
        }
    }
    .content-container {
        margin-top: 2.5rem;
        .content-area {
            .titulo-heroico {
                background-color: $color-primario-claro;
            }
            .seccion {
                .destacado {
                    background-color: $color-secundario-oscuro;
                    color: $blanco;
                    .card-media-title {
                        color: $blanco;
                    }
                }
            }
        }
        .sidenav {
            .sidenav-content {
                .nav-group {
                    label.active {
                        background: $clr-global-selection-color;
                        margin: 0 0 0 1.25rem;
                        padding-left: 0.5rem;
                        display: inline-block;
                        border-radius: $clr-global-borderradius 0 0 $clr-global-borderradius;
                        width: 100%;
                    }
                }
            }
        }
    }
}
